/*スマホ＆共通*/
.container {
    width: 100%;
    display: grid;
}

a {
    text-decoration: none;
    color: #000;
  }

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    & img {
        width: auto;
        height: 100%;
        margin-right: 5px;
    }
    & h1 {
        font-size: 27px;
        color: #000;
    }
    & a {
        color: #fff;
    }
}

.Zenn {
    width: 94.02px;
    height: 22px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.login {
    width: 113px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    & a {
        width: 20px;
        height: 20px;
        margin: auto 0;
    }
    & p:hover {
        background-color: rgb(62, 113, 255);
    }
    & p {
        padding: 10px 12px;
        background-color: #3ea8ff;
        border-radius: 7px;
        font-size: 15px;
        font-weight: bold;
    }
}

.twitter_table_of_contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #E4EDF4;

}

.Zenn_twitter, .table_of_contents{
    width: 50%;
    height: 55px;
    padding: 0 14px;
}

.Zenn_twitter {
    display: flex;
    justify-content: center;
    & img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    & .Zenn_official {
        width: 75px;
        height: 25px;
        padding: 13px 0 13px 5px;
        font-size: 14px;
    }
}

.arrow {
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color:  transparent transparent #565656 #565656;
    transform: rotate(-45deg);
}

  .title {
    width: 100%;
    height: 268px;
    display: flex;
    justify-content: center;
    background-color: #EDF2F7;
    & img {
        width: 70px;
        height: 70px;
    }
    & p {
        color: #65717B;
        font-size: 14.5px;
    }
    & h3 {
        font-size: 22.3px;
    }
    .title_content {
        height: 168px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        margin: auto 0;
    }

  }

  .main_container {
    padding: 0 14px;
    margin-top: 35px;
    & img {
        width: 100%;
        margin: 22.5px 0;
    }

    .main_link {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 16px;
        & p {
            font-size: 11.5px;
        }
    }
    
    .main_link_Zenn, .main_link_Idea {
        width: 72px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 30px;
        border: 1px solid #E9F1F6;
    }

    .main_link_Zenn {
        margin-right: 8px;
    }

    .main_link_Zenn:hover, .main_link_Idea:hover {
        background-color: #EDF2F7;
    }

    .main_link_Zenn img {
        width: 16px;
        height: 16px;
    }
    
    .main_link_Idea img {
        width: 26px;
        height: 26px;
    }

    & p {
        line-height: 2em;
    }

    .heading {
        margin: 60px 0 16px 0;
        padding-bottom: 8px;
        font-size: 25.6px;
        border-bottom: 1px solid #E4EDF4;
    }

    .heading_list {
        margin: 50px 0 12px 0;
        padding-bottom: 8px;
        font-size: 22.4px;
        border-bottom: 1px solid #E4EDF4;
    }

    & summary {
        font-size: 13.6px;
        padding: 12px;
        border: 2px solid #E4EDF4;
        border-radius: 10px;
    }

    & details[open] summary {
        background-color: #F1F5F9;
        border: 1px solid #E4EDF4;
        border-radius: 4px 0;
    }

    & details[open] {
        border-radius: 10px;
        border: 1px solid #E4EDF4;
    }

    .shortcut {
        padding: 15px;
        & p {
            line-height: 1.5em;
    }
    }

    & ul {
        padding-left: 30px;
        & span {
            font-weight: bold;
        }
        
    }

    & li {
        margin-top: 10px;
        line-height: 1.5em;
    }
    
    .mac_ctrl {
        margin-top: 10px;
        & span {
            background-color: #EFF3F8;
            font-size: 12.9px;
            padding: 0 8px;
            border-radius: 4px;
            font-weight: normal;
        }
    }

    & span {
        font-weight: bold;
    }

    .main_link_blue {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0;
        & a {
            color: #0f83fd;
        }
    }

    .main_link_blue a:hover {
        text-decoration-line: underline;
        color: #0f83fd;
    }

    .line {
        border: 1px solid #EFF3F8;
        margin: 40px 0;
    }

    .github_edit {
        width: 176px;
        height: 36px;
        margin-bottom: 50px;
        
        & img {
            width: 20px;
            height: 20px;
            margin: 0;
            padding-right: 5px;
        }
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size: 12px;
            border: 2px solid #EDF2F7;
            border-radius: 8px;
            padding: 5px;

        }
        & a:hover {
            background-color: #EDF2F7;
        }
    }

    .heart_twitter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .heart_num {
            display: flex;
            align-items: center;
            & a {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #EDF2F7;
                border-radius: 50%;
            }

            .heart {
                font-size: 20px;
                font-weight: 900;
                color: #8F9FAA;
            }

            & p {
                font-size: 12px;
                color: #8F9FAA;
                padding-left: 5px;
            }
        }

        .report_violation {
            
            .violation_summary {
                border: none;
            }

            & summary {
                list-style: none;
            }

            & .violation_summary {
                padding-left: 120px;
            }

            & .arrow:hover {
                border-color:  transparent transparent #000 #000;
            }

            & details[open] {
                border: none;
                position: relative;
            }

            & details[open] summary {
                background-color: white;
                
            }

            & .violation {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 50px;
                z-index: 5;
                position: absolute;
                top: 50px;
                left: 40px;
                border: 1px solid #EFF3F8;
                border-radius: 10px;
                background-color: #feffff;
            }
        }

        .twitter {
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #8F9FAA;
            border-radius: 20px;
            & img {
                width: 22px;
                height: 22px;
                margin: 0;
                padding-right: 4px;
            }
            & p {
                font-size: 13px;
                color: #8F9FAA;
            }
        }

        .twitter:hover {
            background-color: #EDF2F7;
            & p {
                color: #000;
            }
        }
    }

    .Zenn_twitter_link {
        & .Zenn_official_main {
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-template-rows: 30px 1fr;
            & .Zenn_official_img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin: 0;
            }

            & .Zenn_official_h3 {
                grid-column: 2 / 3;
            }

            & .Zenn_official_p {
                grid-column: 2 / 3;
            }
        }

        .Zenn_official_main_link {
            display: flex;
            justify-content: space-between;
            margin-left: 70px;
            width: 160px;
            & .Zenn_official_main_link_p {
                color: #65717B;
                border: 1px solid #000;
                border-radius: 20px;
                font-size: 12.5px;
                padding: 2px 10px;
            }

            & img {
                width: 22px;
                height: 22px;
                margin: 0;
            }
        }
    }
  }