/*iphoneおよび共通設定*/
body {
    width: 100%;
    max-width: 960px;
}

h2 {
    font-size: 30px;
}

.container {
    max-width: 960px;
    display: grid;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 92%;
    padding: 0 4%;
    margin: 10px 0;
}

header h1  {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px 10px;
    width: 220px;
}

.introduction, .profile {
    width: 92%;
    padding: 0 4%;
    text-align: center;
    margin: 70px 0;
}

.introduction_title, .profile_title {
    width: 125px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin: 0 auto 50px auto; 
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
}

.suzuki {
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
}

.introduction_image img {
    border-radius: 50%;
}


.topphoto {
    background-image: url("../images/1920x1280.png") ;
    background-position: center;
    width: 100vw;
    height: 600px;
}

.profile_title {
    width: 250px;
}

.profile01 {
    display: grid;
    gap:10px 0;
    margin-bottom: 20px;
}

.profile img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 7px;
    padding-bottom: 10px;
    border-bottom: 5px solid #000;
}