/*iphoneおよび共通設定*/
body {
    width: 100%;
}

h2 {
    font-size: 30px;
}

.topphoto_container {
    width: 100%;
    overflow: hidden;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    
}

header {
    display: flex;
    justify-content: space-between;
    width: 92%;
    padding: 0 4%;
    margin: 10px 0;
}

header h1  {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px 10px;
    width: 220px;
}

.introduction, .profile {
    width: 92%;
    padding: 0 4%;
    text-align: center;
    margin: 70px 0;
}

.introduction_title, .profile_title {
    width: 125px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin: 0 auto 50px auto; 
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.suzuki {
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
}

.introduction_image img {
    border-radius: 50%;
}


.topphoto {
    background-image: url("../images/1920x1280.png") ;
    background-position: center;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    height: 600px;
}

.profile_title {
    width: 250px;
}

.profile01 {
    display: grid;
    gap:10px 0;
    margin-bottom: 20px;
}

.profile img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 7px;
    padding-bottom: 10px;
    border-bottom: 5px solid #000;
}

@media screen and (min-width:600px) {
    .introduction {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }

    .introduction_title {
        grid-column: 1 / 3;
    }

    .name {
        margin-right: auto;
    }

    .suzuki {
        grid-column: 1;
        line-height: 27px;
    }

    .introduction_image {
        grid-column: 2;
        grid-row: 2 / 4;
    }

    .profile_main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    footer {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
    }
    
}